<!DOCTYPE html>
<html>
<head>
    <title>用户博客表</title>
    <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="${request.contextPath}/statics/css/your_style.css"/>
    <style>
        .search{
            position: absolute;
            top: 0px;
            left: 0px;
            height: 42px;
            line-height: 42px;
            font-size: 14px;
            color: #777;
        }
    </style>
</head>
<body>
<div>
    <div v-show="showList" class="content">
        <form class="layui-form">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                    <div class="search-width form-group clearfix">
                        <label class="search"><i class="fa fa-search" aria-hidden="true"></i></label>
                        <input type="text" name="title" class="layui-input num-width pl20" placeholder="请输入标题">
                        <div class="ml10">
                            <select type="text" name="label" class="layui-input num-width" id="labelList">
                                <option value="">请选择标签</option>
                            </select>
                        </div>
                        <a class="layui-btn layui-btn-primary ml10" lay-submit lay-filter="queryBtn" data-type="reload" id="reload" title="查询"><i class="fa fa-filter" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                    <a class="layui-btn layui-btn-primary" data-type="add" title="添 加"><i class="fa fa-plus-square"></i></a>
                    <a class="layui-btn layui-btn-primary" data-type="update" title="编 辑"><i class="fa fa-pencil-square-o"></i></a>
                    <a class="layui-btn layui-btn-primary" data-type="delete" title="删 除"><i class="fa fa-trash"></i></a>
                    <a class="layui-btn layui-btn-normal" data-type="setTop" title="置 顶">置 顶</a>
                    <a class="layui-btn layui-btn-danger" data-type="setSelected" title="加 精">加 精</a>
                </div>
            </div>
        </form>
        <table id="myblogTable" lay-filter="myblogTable"></table>
    </div>
</div>
<script src="${request.contextPath}/statics/plugins/layui/layui.js"></script>
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/js/modules/sys/myblog.js?_${.now?long}"></script>
</body>
</html>