<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>Simple example - Editor.md examples</title>
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/editormd/css/style.css"/>
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/editormd/css/editormd.css"/>
</head>
<body>
<div id="layout">
    <div id="test-editormd">
                <textarea style="display:none;"></textarea>
    </div>
</div>
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/plugins/editormd/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "100%",
            height: 640,
            syncScrolling: "simple",
            path: "${request.contextPath}/statics/plugins/editormd/lib/",
            saveHTMLToTextarea:true,
            toolbarIcons:function () {
                return [
                    "undo", "redo", "|",
                    "bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|",
                    "h1", "h2", "h3", "h4", "h5", "h6", "|",
                    "list-ul", "list-ol", "hr", "|",
                    "link", "reference-link", "image", "code", "preformatted-text", "code-block", "table", "datetime", "emoji", "html-entities", "pagebreak", "|",
                    "goto-line", "watch", "preview", "clear", "search", "|",
                    "help", "info", "lastStep", "nextStep"
                ]
            },
            toolbarIconsClass : {
                lastStep : "fa fa-reply",  // 指定一个FontAawsome的图标类
                nextStep : "fa-floppy-o"  // 指定一个FontAawsome的图标类
            },
            toolbarHandlers : {
                lastStep : function(cm, icon, cursor, selection) {
                    window.parent.vm.lastStep();
                },
                nextStep : function(cm, icon, cursor, selection) {
                    if(testEditor.getMarkdown()){
                        window.parent.vm.myBlog.content=testEditor.getMarkdown();
                        window.parent.vm.nextStep();
                    }
                },
            },
            lang : {
                toolbar : {
                    lastStep : "取消编辑",
                    nextStep : "保存"
                }
            },
        });
    });
</script>
</body>
</html>